/* custom styles */

.c9 {
    padding-right: 10px;
}

.content-spacing-right {
    width: 100%
}

#header-widgets.fl {
	position: relative;
	float: none;
}

#slider-wrap {
	margin-left: 0;
}


.post {
	width: 100%;
}

article {
	width: 100%;
}

#posts-pagination {
    width: 100%;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="number"] {
    width: 125px;
}

.widget-text-large {
	font-size: 25px !important;
}

h1, h1 a, .entry-title, .entry-title a {
	font-size: 30px !important;
}

h2 {
	font-size: 22px !important;
}

.entry-meta, .entry-meta a {
	font-size: 12px !important;
}

/* s2member registration page */

form.s2member-pro-paypal-form {
	width: 100%;
}

/* end s2member registration page */
/* Papers Landing Page */

.papers-featured li {
	width: 100%;
}

.papers-tag-list .one_third, .papers-tag-list .one_third_last {
	margin-bottom: 0;
}

#papers-search input, .papers-search input {
	width: 90% !important;
}


.paper-dl {
	background: #f6f6f6;
	display: inline-block;
	text-align: left;
}

.paper-dl img {
	width: 36px;
	float: left;
}

/*
#text-2 {
	min-height: 200px;
}
unused widget? carried over from dev server, unsure of the "text-#" */

#slider-wrap, #slider-wrap .content, #slider-wrap .images {
	left: 0;
	right: 0;
	display: none;
}

#upper-section-1 {
	margin: -15px 0 0 0;
}

.header-widget {
	margin-left: 10px;
}

#text-7 { 
	margin: 7px 0 15px 10px; 
}

#comments, #respond, .commentlist, .commentlist ul.children, .commentlist li.comment, .commentlist li.pingback, .commentlist .comment-body {
	width: 100%;
}

#cntctfrm_contact_form input.text, #cntctfrm_contact_form textarea, #cntctfrm_contact_message, #cntctfrm_contact_name, #cntctfrm_contact_email, #cntctfrm_contact_subject {
	width: 100% !important;
}

#cntctfrm_contact_form {
	background-color: #f6f6f6;
	padding: 15px;
	width: 290px;
	min-width: 290px;
}

/* forums */

div.bbp-search-form input, div.bbp-search-form button {
	padding: 6px 8px;
	-webkit-padding-before: 7px;
	-webkit-padding-after: 7px;
}

.bbp-forum-title, .bbp-topic-permalink {
	font-size: 17px;
	line-height: 27px;
}

#bbpress-forums li.bbp-header, #bbpress-forums li.bbp-footer {
	font-size: 17px;
}

#bbpress-forums .bbp-forum-info .bbp-forum-content, #bbpress-forums p.bbp-topic-meta {
	font-size: 15px;
	line-height: 20px
}

#bbpress-forums li.bbp-header li.bbp-forum-info, #bbpress-forums li.bbp-body li.bbp-forum-info, #bbpress-forums li.bbp-header li.bbp-topic-title, #bbpress-forums li.bbp-body li.bbp-topic-title {
	width: 100%;
}

#bbpress-forums li.bbp-header li.bbp-forum-topic-count, #bbpress-forums li.bbp-header li.bbp-forum-reply-count, #bbpress-forums li.bbp-body li.bbp-forum-topic-count, #bbpress-forums li.bbp-body li.bbp-forum-reply-count, #bbpress-forums li.bbp-header li.bbp-topic-voice-count, #bbpress-forums li.bbp-header li.bbp-topic-reply-count, #bbpress-forums li.bbp-body li.bbp-topic-voice-count, #bbpress-forums li.bbp-body li.bbp-topic-reply-count {
	width: 25%;
}

#bbpress-forums li.bbp-header li.bbp-forum-freshness, #bbpress-forums li.bbp-body li.bbp-forum-freshness, #bbpress-forums li.bbp-header li.bbp-topic-freshness, #bbpress-forums li.bbp-body li.bbp-topic-freshness {
	width: 50%;
}

#bbpress-forums li.bbp-header li.bbp-forum-topic-count, #bbpress-forums li.bbp-header li.bbp-forum-reply-count, #bbpress-forums li.bbp-body li.bbp-forum-topic-count, #bbpress-forums li.bbp-body li.bbp-forum-reply-count, #bbpress-forums li.bbp-header li.bbp-topic-voice-count, #bbpress-forums li.bbp-header li.bbp-topic-reply-count, #bbpress-forums li.bbp-body li.bbp-topic-voice-count, #bbpress-forums li.bbp-body li.bbp-topic-reply-count {
	width: 25%;
}

li.bbp-forum-freshness, li.bbp-topic-freshness, li.bbp-forum-topic-count, li.bbp-topic-voice-count, li.bbp-forum-reply-count, li.bbp-topic-reply-count {
	text-align: left;
}

#bbpress-forums li.bbp-header li.bbp-forum-info, #bbpress-forums li.bbp-header li.bbp-topic-title {
	text-align: left;
	text-transform: none;
}

#bbpress-forums fieldset.bbp-form {
	padding: 70px 8px 20px;
}

.bbp-form legend {
	font-size: 20px;
	line-height: 30px;
}

#bbpress-forums fieldset.bbp-form label.bbp_topic_subscription {
	display: inline;
	margin-left: 5px;
}

#bbpress-forums div.bbp-forum-author img.avatar, #bbpress-forums div.bbp-topic-author img.avatar, #bbpress-forums div.bbp-reply-author img.avatar {
	width: 60px;
	height: auto;
	top: 15;
	left: 0;
	position: absolute;
}

#bbpress-forums div.bbp-forum-author, #bbpress-forums div.bbp-topic-author, #bbpress-forums div.bbp-reply-author {
	width: 100%;
	margin: -15px 10px 10px;
	padding-left: 80px;
	position: relative;
	text-align: left;
}

#bbpress-forums div.bbp-topic-author {
	margin: -15px 0 10px;
}

#bbpress-forums div.bbp-forum-content, #bbpress-forums div.bbp-topic-content, #bbpress-forums div.bbp-reply-content {
	margin-left: 0;
}

#bbpress-forums div.bbp-topic-author a.bbp-author-name, #bbpress-forums div.bbp-reply-author a.bbp-author-name {
	display: inline-block;
}

#bbpress-forums li.bbp-header .bbp-search-content, #bbpress-forums li.bbp-footer .bbp-search-content, #bbpress-forums li.bbp-header .bbp-forum-content, #bbpress-forums li.bbp-footer .bbp-forum-content, #bbpress-forums li.bbp-header .bbp-topic-content, #bbpress-forums li.bbp-footer .bbp-topic-content, #bbpress-forums li.bbp-header .bbp-reply-content, #bbpress-forums li.bbp-footer .bbp-reply-content {
	margin-left: 0;
}

#bbpress-forums li.bbp-header .bbp-search-author, #bbpress-forums li.bbp-footer .bbp-search-author, #bbpress-forums li.bbp-header .bbp-forum-author, #bbpress-forums li.bbp-footer .bbp-forum-author, #bbpress-forums li.bbp-header .bbp-topic-author, #bbpress-forums li.bbp-footer .bbp-topic-author, #bbpress-forums li.bbp-header .bbp-reply-author, #bbpress-forums li.bbp-footer .bbp-reply-author {
	width: 25%;
}

#bbpress-forums .bbp-body div.bbp-reply-content {
	margin: 0;
}

#bbpress-forums #bbp-search-form #bbp_search {
	width: 150px;
}

input#bbp_topic_subscription[type="checkbox"] {
	margin: 20px 10px 0 0 !important;
	vertical-align: top;
}

#bbpress-forums fieldset.bbp-form label {
	width: 88%;
}

/* end forums */



