*.log
.htaccess
sitemap.xml
sitemap.xml.gz
docroot/wp-config.php
docroot/wp-content/advanced-cache.php
docroot/wp-content/backup-db/
docroot/wp-content/backups/
docroot/wp-content/blogs.dir/
docroot/wp-content/cache/
docroot/wp-content/upgrade/
docroot/wp-content/uploads/
docroot/wp-content/wp-cache-config.php
.DS_Store
db
