*.log
sitemap.xml
sitemap.xml.gz
docroot/local-config.php
local-config.php
docroot/wp-content/backup-db
docroot/wp-content/backups
docroot/wp-content/blogs.dir
docroot/wp-content/cache
docroot/wp-content/upgrade
docroot/wp-content/uploads
docroot/wp-content/wp-cache-config.php
docroot/wp-content/cache
docroot/wp-content/avatars
docroot/wp-content/w3tc
docroot/wp-content/w3tc-config
.DS_Store
db
REVISION
